#container {
    margin: 0 auto;
    max-width: 1500px;
}
#ad-methyl-div {
    height: 300px;
    overflow: hidden;
}
#ad-methyl-div > img {
    width: 100%;
    transform: translateY(-50%);
}

#content-flex-ethyl-div {
    margin: 0 20px;
    display: inline-flex;
    position: relative;
    top: -50px;
}

#catagoric-list--div > .catagoric-card {
    margin-right: 40px;
    margin-bottom: 40px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
    width: 340px;
    height: 400px;
    position: relative;
    display: inline-block;
    overflow: hidden;
    box-sizing: border-box;
    background-color: white;
}
#catagoric-list--div > .catagoric-card > b {
    margin-bottom: 10px;
    display: block;
    font-size: 21px;
    font-weight: bold;
}
#catagoric-list--div > .catagoric-card > img {
    border-radius: 5px;
    width: 100%;
}

#sponser-list--div {
    margin-bottom: auto;
    display: grid;
    grid-gap: 20px;
}
#sponser-list--div > .sponser-card {
    border: 1px solid black;
    border-radius: 5px;
    width: 240px;
    height: 100px;
    background-color: white;
}